body {
    margin: 0;
    }
    
    a {
        text-decoration: none;
        color: white;
    }
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: black;
        padding: 8px 12px;
        font-size: 15px;
    }
    
    .navbar-menu { 
        display: flex;
        list-style: none;
        padding-left: 0;
    }
    
    .navbar-menu li {
        padding: 8px 12px
    }

    .navbar-rogo {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .login, h4 {
        margin-bottom: 3px;
        margin-top: 0px;
    }

    .인물소개 {
        background-color: gray;
    }

    .인물소개, h1 {
        color: white;
        margin-top: 2px;
        align-items: center;
    }

    .프로필 {
        display: flex;
        background-color: gray;
    }

    #1 {
        margin-left: 100px;
    }